doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        title CodeLibrary - #{title}

        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=cyrillic')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='/lib/normalize.css/normalize.css')
        link(rel='stylesheet' href='/lib/material-components-web/dist/material-components-web.min.css')
        link(rel='stylesheet' href=`/css/app.css?v=${version}`)

        script(src='/lib/material-components-web/dist/material-components-web.min.js')

        block head
    body(id=`${id}-page` class=className).mdc-typography
        if errors
            for error in errors
                div.flash.flash--error= error

        block header
            
        block content

        block scripts